body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f9f4; /* Couleur douce inspirée de la nature */
    color: #333;
}

.article-container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.article-container p {
    font-size: 28px;
    font-weight: bold;
    color: #3c763d; /* Vert doux pour le titre */
    margin-bottom: 20px;
}

.article-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9fff9; /* Légèrement vert pour un effet naturel */
    transition: transform 0.3s, box-shadow 0.3s;
}

.article-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.article-item img {
    max-width: 150px;
    max-height: 100px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    transition: transform 0.3s ease-in-out;
}

.article-item img:hover {
    transform: scale(1.05);
}

.article-item h3 {
    margin: 0;
    color: #2d572c; /* Vert foncé élégant pour les titres */
    font-size: 22px;
    text-align: left;
}

.article-item p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.article-item small {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #888;
}

.article-item a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background: #5cb85c; /* Vert naturel pour les boutons */
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-weight: bold;
}

.article-item a:hover {
    background-color: #4cae4c;
}

/* Responsive Design */
@media (max-width: 768px) {
    .article-item {
        flex-direction: column;
        align-items: center;
    }

    .article-item img {
        margin-bottom: 15px;
    }

    .article-item h3, .article-item p {
        text-align: center;
    }
}
